*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
}

li {
  list-style: none;
}

:root {
  /* Colors */
  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-background: #f8f9fa;
  --color-button: #007bff;
  --color-button-hover: #0056b3;

  /* Font Sizes */
  --font-size-base: 16px;
  --font-size-small: 14px;
  --font-size-large: 18px;
  --font-size-h1: 2rem;
  --font-size-h2: 1.75rem;
  --font-size-h5: 0.83rem;

  /* Padding */
  --padding-half: 0.5rem;
  --padding-small: 1.5rem;
  --padding-medium: 3rem;
  --padding-large: 5rem;

  /* Card Styling */
  --border-radius-small: 8px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main {
  display: flex;
  height: 100%;
}

/* Filter Section */

.filter-container {
  width: 250px;
  padding: var(--padding-small);
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  gap: var(--padding-small);
}

/* Select menu classes */
.filter-genre #genre-select,
.filter-rating #rating-select,
.filter-platform #platform-select,
.filter-game-mode #game-mode-select {
  cursor: pointer;
}

#search-bar {
  width: 100%;
  padding: var(--padding-half);
}

/* Column filter styling */
.filter-genre,
.filter-game-mode,
.filter-platform {
  display: flex;
  flex-direction: column;
  gap: var(--padding-half);
}
.filter-genre #genre-select,
.filter-platform #platform-select,
.filter-game-mode #game-mode-select {
  padding: var(--padding-half);
}

/* Row filter styling */
.filter-rating {
  display: flex;
  gap: var(--padding-half);
}
.filter-rating #rating-select {
  flex: 1;
  padding: var(--padding-half);
}
.filter-rating label {
  align-self: center;
}

#submit-button {
  font-size: var(--font-size-large);
  padding: var(--padding-half);
  background-color: var(--color-button);
  color: var(--color-white);
  border: none;
  cursor: pointer;
}

#submit-button:hover {
  background-color: var(--color-button-hover);
}

/* Content Section  */
.content {
  padding: var(--padding-medium);
}
.content ul {
  display: flex;
  flex-wrap: wrap;
}
.card li {
  font-size: var(--font-size-h5);
  font-weight: bold;
}
/* Card-style */
.card {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: auto;
  gap: var(--padding-small);
  border-radius: var(--border-radius-small);
  box-shadow: var(--box-shadow);
  padding: var(--padding-small);
}
/* Header  */
.title {
  text-align: center;
  font-size: var(--font-size-h2);
  padding-bottom: var(--padding-half);
}
.header-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--padding-half);
}
.header-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--padding-half);
}
.header-bottom {
  display: flex;
  justify-content: space-between;
}
.platform,
.genre,
.game-mode {
  display: flex;
  flex-wrap: wrap;
  gap: var(--padding-half);
  color: var(--color-button);
  font-size: var(--font-size-base);
}
.rating {
  color: green;
}
/* Main */
main {
  display: flex;
  gap: var(--padding-small);
}
.card-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-cover-art {
  width: 100%;
  max-width: 150px;
  height: 150px;
}
.more-text {
  display: none;
}
.show-more {
  align-self: flex-end;
  background: none;
  border: none;
  color: var(--color-button);
  cursor: pointer;
}
.show-more:hover {
  color: var(--color-button);
}
.show-more:focus {
  outline: none;
}
/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  flex: 1;
  color: var(--color-secondary);
}
