*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: var(--color-background);
  height: 100%;
  width: 100%;
  font-family: "Rubik", Arial, sans-serif;
  box-sizing: border-box;
}

li {
  list-style: none;
}

:root {
  /* Colors */
  --color-primary: #36454f;
  --color-secondary: #0e4b75;

  --color-filters: #c4d7e7;
  --color-card: #ffffff;
  --color-background: #e9ecef;

  --color-button: #0582ca;
  --color-button-hover: #005688;

  --color-transparent: rgba(0, 0, 0, 0.5);

  --color-white: #ffffff;
  --color-black: #000000;

  /* Font Sizes */
  --font-size-base: 16px;
  --font-size-small: 12px;
  --font-size-large: 18px;
  --font-size-h1: 2.5rem;
  --font-size-h2: 1.75rem;
  --font-size-h5: 0.83rem;

  /* Padding */
  --padding-half: 0.5rem;
  --padding-small: 1.5rem;
  --padding-medium: 3rem;
  --padding-large: 5rem;

  /* Card Styling */
  --border-radius-small: 8px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  font-family: "Rubik Doodle Shadow", system-ui;
}

h1 {
  font-size: var(--font-size-h1);
}

.filters-wrapper h2 {
  color: black;
  font-size: var(--font-size-h2);
  text-align: center;
}

#home-page.hidden,
#games-list.hidden,
#loading-container.hidden,
#empty-array.hidden,
#server-down.hidden {
  display: none;
}

/* Loading Screen */

#loading-container {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-h2);
  color: white;
  background-color: var(--color-transparent);
}

#loading-container .loading-text {
  display: flex;
  margin-left: calc(301px + var(--padding-medium));
}

@keyframes dotAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#loading-container h2 {
  animation: dotAnimation 2s infinite;
  opacity: 0;
}

#loading-container h2:nth-child(2) {
  animation-delay: 0.5s;
}

#loading-container h2:nth-child(3) {
  animation-delay: 1s;
}

#loading-container h2:nth-child(4) {
  animation-delay: 1.5s;
}

body.loading {
  overflow: hidden;
}

/* Empty Array Styling */
#empty-array,
#server-down {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  padding: var(--padding-medium);
}

.filters-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: var(--padding-small);
  padding: var(--padding-small);
}

.main-container {
  display: flex;
  height: 100%;
  width: 100%;
}

/* Filter Section */
.filter-container {
  position: fixed;
  z-index: 4;
  flex: 1;
  height: 100%;
  min-width: 301px;
  background-color: var(--color-filters);
}

/* Styles for the toggle button tab */
.toggle-button {
  justify-content: center;
  align-items: center;
  height: 0;
  background: var(--color-button);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 20px 10px;
  display: none;
  position: fixed;
  left: 75%;
  transform: translateX(var(--padding-small));
  z-index: 1000;
  border-bottom-left-radius: var(--border-radius-small);
  border-bottom-right-radius: var(--border-radius-small);
}

.toggle-button:hover {
  height: 60px;
}

#arrow-filters.rotated {
  transform: rotate(180deg);
}

#arrow-filters,
#arrow-sort {
  font-size: 20px;
  transition: transform 0.3s, font-size 0.3s ease-in-out;
}

/* Sorting Section Styles */
.sorting-container {
  display: flex;
  align-items: center;

  gap: var(--padding-small);
}

select {
  width: fit-content;
}

.sorting-container select {
  flex: 1;
}

.sort-order {
  display: flex;
  gap: var(--padding-half);
  flex: 1;
}

.arrow {
  cursor: pointer;
  font-size: 24px;
  user-select: none;
}

.arrow.selected {
  color: var(--color-button);
}

/* Select menu styling */
.filter-genre #genre-select,
.filter-rating #rating-select,
.filter-platform #platform-select,
.filter-game-mode #game-mode-select,
.sorting-container select {
  cursor: pointer;
  border: none;
}

.search-container {
  display: flex;
  flex-direction: column;
  gap: var(--padding-half);
}

#search-bar {
  width: 100%;
  padding: var(--padding-half);
  border: none;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: var(--padding-small);
}

.sorting-container select {
  padding: var(--padding-half);
}

/* Filter styling */
.filter-genre,
.filter-rating,
.filter-platform,
.filter-game-mode {
  display: flex;
  flex-direction: column;
  gap: var(--padding-half);
}

.filter-platform #platform-select,
.filter-game-mode #game-mode-select,
.filter-genre #genre-select {
  flex: 1;
  padding: var(--padding-half);
}

#search-bar,
#game-mode-select {
  min-width: 253px;
}

#genre-select,
#platform-select,
.rating-options {
  min-width: 202px;
}

/* Rating styles */
.filter-rating {
  display: flex;
  gap: var(--padding-half);
}

.filter-rating label {
  display: flex;
  align-items: center;
}

.rating-options {
  display: flex;
  border: none;
}

.rating-option {
  padding: var(--padding-half);
  border: 1px solid #fff;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.rating-option:hover {
  background-color: #f0f0f0;
}

.rating-option.selected {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

#submit-button {
  font-size: var(--font-size-large);
  padding: var(--padding-half);
  background-color: var(--color-button);
  color: var(--color-white);
  border: none;
  cursor: pointer;
}

#submit-button:hover {
  background-color: var(--color-button-hover);
}

.sort-by-container {
  display: flex;
  flex-direction: column;
  gap: var(--padding-half);
}

/* Home-Page styling  */
#home-page {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--padding-small);
  padding: var(--padding-medium);
}

#home-page h1,
#home-page p {
  max-width: 700px;
}

/* Content Section  */
.content {
  position: relative;
  margin-left: 301px;
  flex: 4;
}

.content ul {
  display: flex;
  flex-wrap: wrap;
}

.content ul#games-list {
  gap: var(--padding-small);
  padding: var(--padding-medium);
}

.card li {
  font-size: var(--font-size-h5);
  font-weight: bold;
}

/* Card-style */
.card {
  height: 100%;
  background-color: var(--color-card);
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  height: auto;
  gap: var(--padding-small);
  border-radius: var(--border-radius-small);
  box-shadow: var(--box-shadow);
  padding: var(--padding-small);
}

/* Header  */
.title {
  color: var(--color-primary);
  text-align: center;
  font-size: var(--font-size-h2);
  padding-bottom: var(--padding-half);
}

/* Title / href colors */
.game-link:link,
.game-link:visited,
.game-link:hover,
.game-link:active {
  color: black;
  text-decoration: none;
}

.header-data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: var(--padding-half);
}

.platform,
.genre,
.game-mode {
  gap: var(--padding-half);
  color: var(--color-secondary);
  font-size: var(--font-size-base);
}

.platform {
  flex: 3;
}

.rating {
  flex: 1;
  min-width: max-content;
  text-align: right;
  /* Adjust color depending on what rating */
  color: green;
}

/* Card main */
.card-main {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: var(--padding-small);
}

.card-summary {
  min-width: 150px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--padding-small);
}

.card-cover-art {
  width: 100%;
  max-width: 150px;
  height: 150px;
}

.more-text {
  display: none;
}

.show-more {
  align-self: flex-end;
  background: none;
  border: none;
  color: var(--color-button);
  cursor: pointer;
}

.show-more:hover {
  color: var(--color-button);
}

/* Footer */
footer {
  min-height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--padding-half);
  color: var(--color-secondary);
}

.footer-top,
.footer-end {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-end {
  gap: var(--padding-half);
  margin-top: auto;
}

.genre,
.game-mode,
.date-released,
.data-update {
  flex: 1;
}

.game-mode {
  text-align: right;
  justify-content: flex-end;
}

.date-released {
  min-width: 150px;
}

.data-updated {
  min-width: auto;
  text-align: right;
}
@media (max-width: 768px) {
  /* Sorting Section */
  .sorting-container {
    width: 100%;
    padding: 0 var(--padding-small) var(--padding-small) var(--padding-small);
    flex: 1;
    justify-content: flex-end;
  }

  .sort-by-container {
    display: flex;
    align-items: center;
    gap: var(--padding-half);
  }

  .sort-order-container {
    display: flex;
    align-self: flex-end;
  }

  /* Loading container  */
  #loading-container .loading-text {
    margin-left: 0;
  }
  /* Filter container  */
  .filter-container {
    position: absolute;
    flex-direction: row;
    height: auto;
    width: 100%;
  }

  .toggle-button {
    display: flex;
  }
  /* Added wrapper to prevent disrupting filters styles */
  .filters-wrapper {
    padding: 0;
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out,
      opacity 0.3s cubic-bezier(1, 1, 1, 1);
    opacity: 0;
  }

  .filters-wrapper h2 {
    text-align: left;
    padding-left: var(--padding-small);
    padding-top: var(--padding-small);
  }

  .filters-wrapper.visible {
    max-height: 1000px;
    opacity: 1;
    overflow: hidden;
  }

  .filters {
    padding: var(--padding-small);
  }

  /* Align search bar with rating filter */
  #search-bar {
    height: 36px;
  }

  .filters {
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--padding-small);
    flex: 1;
  }

  .filter-start,
  .filter-middle,
  .filter-end {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .filters .filter-start {
    justify-content: initial;
  }

  .filter-rating {
    flex-direction: column;
  }

  .filter-rating label {
    align-self: flex-start;
  }

  /* Remove margin for filter layout */
  .content {
    padding: 0;
    margin-left: 0;
  }

  /* Card */
  .card {
    min-width: 400px;
  }

  /* Card main */
  .card-main {
    text-align: center;
    justify-content: center;
  }

  .card-summary {
    min-width: 100px;
  }
}
@media (max-width: 498px) {
  /* Sorting */
  .sorting-container {
    width: 100%;
    flex: 1;
    gap: var(--padding-half);
    position: initial;
    padding: 0 var(--padding-small) var(--padding-small) var(--padding-small);
  }
  .sort-by-container {
    flex: 1;
  }

  /* Card */
  .card {
    min-width: 250px;
  }

  /* Header */
  .filters-wrapper h2 {
    text-align: center;
  }
  .header-data {
    justify-content: center;
    flex-wrap: wrap-reverse;
  }

  .platform,
  .rating,
  .date-released,
  .data-updated,
  .genre,
  .game-mode {
    justify-content: center;
    text-align: center;
    min-width: 100%;
  }

  /* Card main */
  .card-summary {
    min-width: 175px;
    /* flex-wrap: wrap; */
  }

  /* Footer */
  footer {
    gap: var(--padding-small);
  }

  .footer-top {
    gap: var(--padding-half);
    flex-wrap: wrap;
  }

  .footer-end {
    flex-wrap: wrap;
  }
}
